.table {
    --bs-table-color: var(--bs-body-color);
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-body-color);
    --bs-table-striped-bg: rgba(0,0,0,.05);
    --bs-table-active-color: var(--bs-body-color);
    --bs-table-active-bg: rgba(0,186,199,.1);
    --bs-table-hover-color: var(--bs-body-color);
    --bs-table-hover-bg: rgba(0,186,199,.1);
    --bs-table-border-color: #f4f4f4;
    border-color: var(--bs-table-border-color);
    color: var(--bs-table-color);
    margin-bottom: 1.875rem;
    vertical-align: top;
    width: 100%;
}

tbody, td, tfoot, th, thead, tr {
    border: 0 solid;
    border-color: inherit;
}

th a {
    text-decoration: none;
}