.form-control {
    display: block;
    width: 100%;
    padding: .45rem .9rem;
    font-size: var(--bs-body-font-size);
    font-weight: 500;
    line-height: 1.565;
    color: rgba(var(--bs-body-color-rgb), .75);
    background-color: var(--bs-white);
    background-clip: padding-box;
    border: 1px solid var(--bs-card-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}